<div class="datatable-container">
    <div class="table-search">
        <form [formGroup]="formSearch">
            <input type="text" formControlName="search" (change)="searchProduct($event)" class="search-control"
                placeholder="Presione enter para buscar...">
        </form>
        <button class="btn btn-primary" routerLink="/create">Agregar</button>
    </div>
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <td>Logo</td>
                    <td>Nombre del producto</td>
                    <td>Descripción</td>
                    <td>Fecha de liberación</td>
                    <td>Fecha de restructuración</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of filterProducts; trackBy: trackByFn">
                    <td>
                        <img class="product-logo" [src]="product.logo">
                    </td>
                    <td>
                        {{product.name}}
                    </td>
                    <td>
                        {{product.description}}
                    </td>
                    <td>
                        {{product.date_release | date:'dd/MM/yyyy'}}
                    </td>
                    <td>
                        {{product.date_revision | date:'dd/MM/yyyy'}}
                    </td>
                    <td>
                        <app-dropdown (click)="onSelect(product)" (onChange)="onSelectOption($event)"
                            [items]="dropItems"></app-dropdown>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="flex-row align-items-center  justify-content-end">
            <app-paginator
                [display]="display"
                [total]="total"
                [page]="currentPage"
                (change)="onPaginate($event)"
                class="pull-rigth">
            </app-paginator>
            <select (change)="onChangeLimit($event)" class="paginator-limit pull-rigth">
                <option  value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
            </select>            
        </div>

    </div>
</div>