@import "./../../../../../assets/variables.scss";

.table {
    border-collapse: collapse;
    width: 100%;

    thead {
        font-weight: bold;
        
        font-size: 18px;
        background-color: $background-color !important;

        tr>td {
            color: $header-table-color !important;
            padding: 20px;
        }
    }
}

.table-container {
    padding: 20px;
    background-color: white;
    overflow-x: scroll;
}

.table-search {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.product-logo {
    width: 50px;
}

tr>td { 
    padding: 15px;
}

.paginator-limit {
    height: 41px;
}
