$background-color: #f9fafc;
$header-table-color: rgb(98, 105, 105);
$border-input-color: #f4f6f9;
$padding-input: 5px;
$primary-color: #f8dd4a;
$primary-color-bank: #000000;
$default-color: #e9ecf3;
$height-default-input: 30px;
$height-default-button: 41px;
$border-radius: 5px;